@import url(http://fonts.googleapis.com/css?family=Nunito);

body {
  background-image:url('../img/sweetsfromnat_background2.png');
  font-family: 'Nunito', sans-serif;
  color: rgb(34,113,136);
}

a {
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: #000000;
}

.footer {
  padding: 10px 0px;
  margin: 5px 0px;
  text-align: center;
  color: #000;
}

.logo {
  margin-top: 10px;
}

.getsome {
  margin: 100px 0px;
}

#navigation li {
  list-style: none;
  display: block;
  float: left;
  margin: 1em;
}

#navigation li a {
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6em;
  margin: 0 .5em;
}

#navigation li a:hover {
  margin-top: 2px;
}

#navigation_container {
 margin: 0 auto;
 width: 960px;
}

.rectangle {
 background: #e5592e;
 height: 62px;
 position: relative;
 -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 z-index: 500; /* the stack order: foreground */
 margin: 3em 0;
}

.l-triangle-top {
 border-color: #d9542b transparent transparent;
 border-style:solid;
 border-width:50px;
 height:0px;
 width:0px;
 position: relative;
 float: left;
 top: 1px;
 left: -50px;
}

.l-triangle-bottom {
 border-color: transparent transparent #d9542b;
 border-style:solid;
 border-width:50px;
 height:0px;
 width:0px;
 position: relative;
 float: left;
 top: -40px;
 left: -150px;
}

.r-triangle-top {
 border-color: #d9542b transparent transparent;
 border-style:solid;
 border-width:50px;
 height:0px;
 width:0px;
 position: relative;
 float: right;
 right: -45px;
 top: -107px;
}
.r-triangle-bottom {
 border-color: transparent transparent #d9542b;
 border-style:solid;
 border-width:50px;
 height:0px;
 width:0px;
 position: relative;
 float: right;
 top: -149px;
 right: -145px;
}

.circle {
  margin-top: -30px;
  width: 450px;
  position: relative;
  left: 275px;
  height: 450px;
  border-radius: 225px;
  -webkit-border-radius: 225px;
  -moz-border-radius: 225px;
  background: url('../img/IMG_5741.jpeg') no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#seasonal_favorites {
}